.wordle-grid {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.wordle-row {
    display: flex;
    gap: 2px;
}

.wordle-cell {
    width: 48px;
    height: 48px;
    border: 2px solid var(--color-border);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.6rem;
    margin: 2px;
    text-transform: uppercase;
}

.color-0 {
    background: #3a3a3c;
    color: white;
}

.color-1 {
    background: #b59f3b;
    color: white;
}

.color-2 {
    background: #538d4e;
    color: white;
}

input:disabled,
button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.keyboard {
    margin-top: 1rem;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
}

.keyboard-key {
    margin: 2px;
    padding: 10px 12px;
    font-weight: bold;
    border-radius: 0px;
    border: none;
    background: var(--color-border);
    color: white;
    cursor: pointer;
}

.keyboard-key:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.key-0 {
    background: var(--color-border);
}

.key-1 {
    background: #3a3a3c;
}

.key-2 {
    background: #b59f3b;
}

.key-3 {
    background: #538d4e;
}