@import "fonts.css";

:root {
  --color-bg: #2e2e2e;
  --color-text: #f1f1f1;
  --color-border: #4e4e4e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-bg);
  color: var(--color-text);
}

body,
html,
#root {
  height: 100%;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.header {
  height: 60px;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 0 1rem;
}

.header-title {
  display: flex;
  align-items: center;
}

.nav-links {
  height: 100%;
  display: flex;
}

.header-nav-link {
  height: 100%;
  display: flex;
  align-items: center;
  border: 1px solid var(--color-border);
  border-bottom: none;
  border-top: none;
  padding: 0 1rem;
}

.page {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

h1 {
  font-size: 1.6rem;
  font-weight: bold;
}

.card {
  min-width: 40%;
  min-height: 40%;
  padding: 2rem;
  border: 2px solid var(--color-border);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.6rem;
}

.home {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

input,
button {
  width: 100%;
  margin: 0.4rem 0;
  padding: 0.8rem;
  font-size: 1.2rem;
}

.games-selection {
  display: flex;
  gap: 1.6rem;
  justify-content: center;
  align-items: stretch;
  padding: 2rem;
}

.game-card {
  background: var(--color-bg);
  border: 1px solid var(--color-border);
  padding: 1.6rem;
  min-width: 320px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.play-button {
  margin-top: auto;
  padding: 0.8rem 0.8rem;
  background: #538d4e;
  color: var(--color-text);
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.play-button:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

@media (max-width: 768px) {
  .games-selection {
    flex-direction: column;
    align-items: center;
  }

  .game-card {
    width: 90%;
    max-width: 360px;
  }
}